@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
*/ .left h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
}
.left span {
  color: #4487ff;
}
main {
  display: flex;
  /* margin-top: 70px; */
  justify-content: right;
  align-items: center;
  width: 80%;
}

.cartao__titulo {
  font-size: var(--fonte-tamanho-cartao-titulo);
  margin-bottom: 1rem;
}

.butaoo {
  background-color: #000000;
  border-radius: 7px;
  width: 200px;
  height: 30px;
  margin-inline-end: 20px;
  margin-top: 100px;
  margin-left: 350px;
  padding: 3px;
  box-sizing: border-box;
  color: #ffff;
  font-size: 15px;
  text-align: center;
  transition: filter 0.2s;
}
.button:hover {
  filter: brightness(80%);
}
p {
  margin: 0;
  text-indent: 3ch;
}
