#main-header {
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
}

#menu {
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("../../Assets/menu-background.PNG");
}
