@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.left h3 {
  margin-top: 0px;
  color: #fff;
  margin: 5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
}

.left span {
  color: #4487ff;
}
label #sidebar_btn {
  z-index: 1;
  position: fixed;
  left: 300px;
  color: #fff;
  font-size: 25px;
  margin: 5px 0;
  cursor: pointer;
  transition: 0.5s;
  transition-property: color;
}
label #sidebar_btn:hover {
  color: #4487ff;
}

.content {
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  transition: 0.5s;
}
#check:checked ~ .content {
  margin-left: 60px;
}
#check {
  display: none;
}

.pet-description {
  border: 1px solid rgb(225, 225, 225);
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
}

.pet-description strong {
  font-weight: 600;
}
