.logonContainer {
    width: 100%;
    height: 100vh;
    padding: 50px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logonContainer form{
    width: 100%;
    max-width: 350px;
}
.logonContainer form h1{
    font-size: 32px;
    margin-bottom: 32px;
}

.logonContainer section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}

label {
    font-size: 20px ;
}